web/import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Lennart Pettersson (Frontec Sverige AB) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="club" type="xs:string"/>
	<xs:element name="competition">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="common">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="club"/>
							<xs:element ref="name"/>
							<xs:element name="place" type="xs:string"/>
							<xs:element name="date" type="xs:date"/>
							<xs:element name="time" type="xs:int"/>
							<xs:element name="startinterval" type="xs:byte"/>
							<xs:element name="classinterval" type="xs:byte"/>
							<xs:element name="firstnumber" type="xs:byte"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="classes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="class" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="registration" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="club"/>
													<xs:element ref="name"/>
													<xs:element name="address" type="xs:string" minOccurs="0"/>
													<xs:element name="post-address" type="xs:string" minOccurs="0"/>
													<xs:element name="phone" type="xs:string" minOccurs="0"/>
													<xs:element name="mail" type="xs:string" minOccurs="0"/>
													<xs:element name="dogs" type="xs:string" minOccurs="0"/>
													<xs:element name="did" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="D21A"/>
												<xs:enumeration value="H21A"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="distance" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="10.0"/>
												<xs:enumeration value="5.0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
</xs:schema>
